<main id="content-area" class="content-area" hash-listener #scrollable>
    <h1 id="introduction">PowerNSX</h1>
    <p>PowerNSX is a PowerShell module that abstracts the VMware NSX API to a set of easily used PowerShell functions.
    </p>
    <p>This module is not supported by VMware, and comes with no warranties express or implied. Please test and validate its functionality before using this product in a production environment.
        
    It aims to focus on exposing New, Update, Remove and Get operations for all key NSX functions as well as adding additional functionality to extend the capabilities of NSX management beyond the native UI or API.
        
    <p>PowerNSX works closely with VMware PowerCLI, and PowerCLI users will feel quickly at home using PowerNSX.  Together these tools provide a comprehensive command line environment for managing your VMware NSX for vSphere environments.
    PowerNSX is still a work in progress, and it is unlikely that it will ever expose 100% of the NSX API.  Feature requests are welcome via the Issues tracker on the projects GitHub page.</p>
    <p>    
    PowerNSX now supports PowerShell Core as of version 3.0.  Remember, PowerShell Core and PowerCLI Core are both pre-release products!.
    </p>
    <h2 id="howToUse">Installing PowerNSX</h2>
    <p>PowerNSX can be installed through a number of methods</p>
    <h3 id="designResources">Getting Started with PowerNSX</h3>
    <p>Jumpstart your project with one of our
        <a href="https://www.sketchapp.com/" target="_blank">Sketch</a>-based design resources.
        Start by downloading the
        <a href="https://github.com/chrismsimpson/Metropolis" target="_blank">
            Metropolis font.
        </a> Then download your resource of choice.
    </p>
    <div>
        <a href="assets/images/sketchTemplates/Clarity-Template-0.10.0.sketch" target="_blank" class="btn btn-primary">
            <clr-icon shape="download"></clr-icon>
            Git Clone
        </a>
        <div class="craft-plugin">
            <a href="https://www.powershellgallery.com/packages/PowerNSX/3.0.1012" class="btn btn-primary" target="_blank">
                <clr-icon shape="download"></clr-icon>
                PowerShell Gallery
            </a>
            <span class="craft-plugin-text">
                requires <a href="https://www.invisionapp.com/craft" target="_blank">requires PowerShell Desktop for Windows</a>
            </span>
        </div>
    </div>

    <h3 id="seedProjectClarity">Starting With a Clarity Seed Project (Recommended)</h3>
    <p>For a new project, the best approach is to clone the Clarity seed project and modify it to fit your needs. The
        seed project is integrated with clarity-ui and clarity-angular, so you don’t need to install Clarity
        separately.
    </p>
    <p></p>
    <ol class="list">
        <li>Clone the seed app:
            <clr-code-snippet
                    [clrCode]="'git clone https://github.com/vmware/clarity-seed.git'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Install the dependencies:
            <clr-code-snippet
                    [clrCode]="'npm install'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Run the seed app:
            <clr-code-snippet
                    [clrCode]="'npm start'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
    </ol>
    <h3 id="seedProjectAngular">Using an Angular Seed Project</h3>
    <p>You can build an Angular app, then install Clarity onto your project.</p>
    <h4 id="step-1-build-an-angular-2-app">Step 1: Build an Angular App</h4>
    <p></p>
    <ol class="list">
        <li>Look at the Angular documentation, starting with <a
                href="https://angular.io/docs/ts/latest/quickstart.html">the 5 Min Quickstart</a>.
        </li>
        <li>
            Save and modify the example structure and build, or use one of the Angular seeds:
            <ul class="list">
                <li><a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a></li>
                <li><a href="https://github.com/mgechev/angular2-seed">https://github.com/mgechev/angular2-seed</a></li>
                <li><a href="https://github.com/angular/angular2-seed">https://github.com/angular/angular2-seed</a></li>
                <li><a href="https://github.com/AngularClass/angular2-webpack-starter">https://github.com/AngularClass/angular2-webpack-starter</a>
                </li>
            </ul>
        </li>
    </ol>
    <h4 id="installing">Step 2: Install Clarity</h4>
    <p>Clarity is published as three separate packages on NPM:</p>
    <p>
        <a id="clarity_icons"></a>
    </p>
    <ul class="list">
        <li><b>clarity-icons.</b> The library that provides the custom element icons.</li>
        <li><b>clarity-ui.</b> Contains the static styles for building HTML components.</li>
        <li><b>clarity-angular.</b> Contains the Angular components. This package depends on clarity-ui for styles.
        </li>
    </ul>
    <h5 id="step-2a-install-clarity-icons">Step 2a: Install Clarity Icons</h5>
    <p></p>
    <ol class="list">
        <li>Install the Clarity Icons library through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-icons --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Install the polyfill for Custom Elements:
            <clr-code-snippet
                    [clrCode]="'npm install @webcomponents/custom-elements@1.0.0 --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>
            Load the library in your app by including <code class="clr-code">clarity-icons.min.css</code> and <code class="clr-code">clarity-icons.min.js</code>.
            Also, make sure to include <code class="clr-code">custom-elements.min.js</code>, the Custom Elements polyfill before <code class="clr-code">clarity-icons.min.js</code>:
            <clr-code-snippet [clrCode]="iconsImportsExample"></clr-code-snippet>

            <p>
               Visit the <a routerLink="/icons">Clarity Icons</a> section for more installation information.
            </p>
        </li>
    </ol>
    <h5 id="step-2b-install-clarity-ui">Step 2b: Install Clarity UI</h5>
    <p></p>
    <ol class="list">
        <li>Install Clarity UI package through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-ui --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>
            Include clarity-ui.min.css in your HTML file:
            <clr-code-snippet [clrCode]="uiHTMLImport"></clr-code-snippet>
            If your site is built with <a href="https://github.com/angular/angular-cli">angular-cli</a> you can achieve
            the above by adding the file to the styles array in <code class="clr-code">angular-cli.json</code>:
            <clr-code-snippet [clrCode]="uiNodeImports" [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Write your HTML with the Clarity CSS class names and markup.</li>
    </ol>
    <h5 id="step-2c-install-clarity-angular">Step 2c: Install Clarity Angular</h5>
    <p></p>
    <ol class="list">
        <li>If you haven't already, complete steps 1 and 2 for installing Clarity UI in the preceding section.
        </li>
        <li>Install the clarity-angular package through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-angular --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Import the ClarityModule into your Angular application's module. Your application's main module might look like this:
            <clr-code-snippet [clrCode]="ngModuleExample" [clrLanguage]="'typescript'"></clr-code-snippet>
        </li>
    </ol>
    <h4 id="step-3-run-your-app">Step 3: Run Your App</h4>
    <clr-code-snippet
            [clrCode]="'npm start'"
            [clrDisablePrism]="true"></clr-code-snippet>
    <h2 id="browserSupport">Device and Browser Support</h2>
    <p class="bump-down"><img src="assets/images/get-started/device_support.png" alt="Device and Browser Support"
                              class="hidden-sm-down img-fluid"></p>
    <ul class="hidden-md-up">
        <li>Internet Explorer 10 &amp; 11</li>
        <li>MS Edge</li>
        <li>Latest versions of Chrome, Safari, and Firefox</li>
    </ul>
    <p>
        <em>* - Note that Clarity only supports the latest two versions of the listed browsers, with the exception of
            Internet Explorer.</em>
    </p>
    <h2 id="contribute_guidelines">Contributing to Clarity</h2>
    <p>The Clarity team welcomes contributions from the community. See our <a
            href="https://github.com/vmware/clarity//blob/master/CONTRIBUTING.md" target="_blank">contribution
        guidelines</a> on GitHub.
    </p>
    <h2 id="reportingBugs">Reporting an Issue</h2>
    <p>Ongoing work and feature requests are tracked using <a href="https://github.com/vmware/clarity/issues"
                                                              target="_blank">GitHub Issues</a>. Please feel free to
        file an issue.
    </p>
    <p>When submitting issues please provide a minimal app that demonstrates the issue by forking one of Clarity
        Plunkr's:
    <ul class="list-unstyled">
        <li><a href="https://plnkr.co/edit/uNwwZe" target="_blank">Latest Clarity [v0.9.x] Template</a></li>
        <li><a href="https://plnkr.co/edit/8TwwdL" target="_blank">Legacy Clarity [v0.8.15] Template</a></li>
    </ul>

    <h2 id="stackoverflow">StackOverflow</h2>
    <p>
        File issues on StackOverflow with the
        <a target="_blank" href="https://stackoverflow.com/questions/tagged/vmware-clarity">vmware-clarity</a> tag
        to get the community's attention faster. You can also view FAQs by
        filtering on the <a target="_blank" href="https://stackoverflow.com/questions/tagged/vmware-clarity">vmware-clarity</a>
        tag on StackOverflow.
    </p>

    <h2 id="attributions">Attributions</h2>
    <p>See the <a href="https://github.com/vmware/clarity/blob/master/ATTRIBUTION.md" target="_blank">legal
        attributions</a> for third party software included in Clarity.
    </p>
    <div style="visibility: hidden; height: 80vh;">This is a spacer to force sidenav highlighting on scroll</div>
</main>
<nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">
        <section class="nav-group" [scrollspy]="scrollable">
            <label><a class="nav-link active" routerLink="." fragment="introduction">Clarity Design System</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="howToUse">How to Use
                Clarity</a></label>
            <ul class="nav-list">
                <li><a class="nav-link" routerLink="." fragment="designResources">Using Clarity Design Resources</a></li>
                <li><a class="nav-link" routerLink="." fragment="seedProjectClarity">Using a Clarity Seed</a></li>
                <li><a class="nav-link" routerLink="." fragment="seedProjectAngular">Using an Angular Seed</a></li>
            </ul>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="browserSupport">Device &amp; Browser
                Support</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="contribute_guidelines">Contributing to
                Clarity</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="reportingBugs">Reporting an Issue</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="stackoverflow">StackOverflow</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="attributions">Attributions</a></label>
        </section>
    </section>
</nav>
