<main class="content-area" style="overflow-y: hidden">
    <section class="home-hero">
        <div class="home-hero-content">
            <h1>PowerNSX</h1>
            <p class="head">
                PowerNSX is a PowerShell module that abstracts the VMware NSX for vSphere API 
                to a set of easily used PowerShell functions.
            </p>
            <div class="home-hero-btn">
                <a routerLink="get-started" class="btn btn-primary">Install</a>
                <a href="https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/products/nsx/vmware-automating-vsphere-with-powernsx.pdf" class="btn btn-secondary btn-outline">PowerNSX Book</a>
            </div>
            <p class="subtext">
                View the <a href="https://github.com/vmware/powernsx" target="_blank">source</a> on GitHub
            </p>
        </div>
        <div class="bg-img"></div>
    </section>

    <section class="home-cards">
        <div class="home-cards-container clearfix">
            <h1>Network automation - Power that is approachable</h1>
            <div class="home-card-wrapper row">
                <div class="home-card home-card-sketch col-xs-3">
                    <div class="home-card-bug">
                        <clr-icon shape="terminal" size="72"></clr-icon>
                    </div>
                    <h3 class="home-card-title">A familiar CLI</h3>
                    <p>
                        PowerNSX is built to interoperate seamlessly with PowerCLI to extend infrastructure automation across the entire stack. Be it interactive operation, reporting, or complete scripting of entire stack deployments, PowerNSX provides a comprehensive and familiar toolkit.
                    </p>
                </div>

                <div class="home-card home-card-ux col-xs-3">
                    <div class="home-card-bug">
                        <clr-icon shape="blocks-group" size="72"></clr-icon>
                    </div>
                    <h3 class="home-card-title">Building Blocks</h3>
                    <p>
                        By leveraging the cmdlet based architecture of PowerShell, PowerNSX provides a modular approach to interacting with your NSX for vSphere deployment for all common NSX object creation, retrieval, configuration, and removal operations.
                    </p>
                </div>

                <div class="home-card home-card-html col-xs-3">
                    <div class="home-card-bug">
                        <clr-icon shape="code" size="72"></clr-icon>
                    </div>
                    <h3 class="home-card-title">Forged by PowerShell</h3>
                    <p>
                        PowerShell serves as the foundation behind PowerNSX. PowerShell is an automation and configuration tool/framework that works well with your existing tools and is optimized for dealing with structured data and object models.
                    </p>
                </div>

                <div class="home-card home-card-angular col-xs-3">
                    <div class="home-card-bug">
                        <clr-icon shape="cog" size="72"></clr-icon>
                    </div>
                    <h3 class="home-card-title">Automation</h3>
                    <p>
                        Use PowerNSX to impress your friends!  Completely automate the standup and teardown of NSX for vSphere environments with PowerNSX.  Code -> Run -> ... -> Profit!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="home-process">
        <h1>From development to production - your network is now code</h1>

        <div class="row">
            <div class="home-process-block col-xs-6">
                <div class="home-process-block__title">
                    <div class="img bulb"></div>
                    <!-- <img src="assets/images/home/ic-bulb.svg" alt="Product-Based Approach"> -->
                    <h3>By the Power of the Pipeline</h3>
                </div>
                <p>
                    PowerNSX leverages the awesome power of the Powershell pipeline to easily create, retrieve, update and remove NSX configuration with easy to understand pipeline operations.
                </p>
            </div>
            <div class="home-process-block col-xs-6">
                <div class="home-process-block__title">
                    <div class="img rapid"></div>
                    <!-- <img src="assets/images/home/ic_rapid.svg" alt="Rapid development"> -->
                    <h3>Open Source - Community Support</h3>
                </div>
                <p>
                    PowerNSX is Open Source. See the source code. Use the module. Contribute back. 
                    PowerNSX is supported by the community, for the community, encouraging rapid development. It is not an official VMware product.
                </p>
            </div>
            <div class="home-process-block col-xs-6">
                <div class="home-process-block__title">
                    <div class="img evolving"></div>
                    <!-- <img src="assets/images/home/ic_evolving.svg" alt="Evolving"> -->
                    <h3>Multi-platform</h3>
                </div>
                <p>
                    PowerNSX fully supports PowerShell Core as of version 3. This allows PowerNSX to not only run on macOS, Linux, Windows, or even from within a Docker image, but also provides the freedom to be able to develop scripts on any platform and run the same script unmodified on any other.
                </p>
            </div>
            <div class="home-process-block col-xs-6">
                <div class="home-process-block__title">
                    <div class="img reliable"></div>
                    <!-- <img src="assets/images/home/ic_reliable.svg" alt="Reliable"> -->
                    <h3>Reliable</h3>
                </div>
                <p>
                    Utilising Continuous Integration development enabled by a comprehensive Pester based testing framework, the PowerNSX team is focused on shipping frequently, and with a high bar of quality.
                </p>
            </div>
        </div>
    </section>

    <section class="home-contact">
        <div class="row home-contact-container">
            <div class="home-contact-block col-xs-6">
                <a href="//www.gnu.org/licenses/gpl-2.0.html" class="gpl-link home-contact_link" target="_blank">
                    <span class="img"></span>
                    PowerNSX is licensed under GPL 2.0. <span class="xtra">Read more here.</span>
                </a>
            </div>
            <div class="home-contact-block col-xs-6">
                <a href="//twitter.com/PowerNSXv" class="twr-link home-contact_link" target="_blank">
                    <span class="img"></span>
                    @PowerNSXv
                </a>
            </div>
        </div>
    </section>
</main>
